@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-heading: 'Geist Variable', sans-serif;
    --font-sans: 'Geist Variable', sans-serif;
    --background: 1 0 0;
    --foreground: 0.145 0 0;
    --card: 1 0 0;
    --card-foreground: 0.145 0 0;
    --popover: 1 0 0;
    --popover-foreground: 0.145 0 0;
    --primary: 0.65 0.14 245;
    --primary-foreground: 0.985 0 0;
    --secondary: 0.97 0 0;
    --secondary-foreground: 0.65 0.14 245;
    --muted: 0.97 0 0;
    --muted-foreground: 0.556 0 0;
    --accent: 0.97 0 0;
    --accent-foreground: 0.65 0.14 245;
    --destructive: 0.577 0.245 27.325;
    --border: 0.922 0 0;
    --input: 0.922 0 0;
    --ring: 0.65 0.14 245;
    --chart-1: 0.87 0 0;
    --chart-2: 0.556 0 0;
    --chart-3: 0.439 0 0;
    --chart-4: 0.371 0 0;
    --chart-5: 0.269 0 0;
    --radius: 0.625rem;
    --sidebar: 0.985 0 0;
    --sidebar-foreground: 0.145 0 0;
    --sidebar-primary: 0.65 0.14 245;
    --sidebar-primary-foreground: 0.985 0 0;
    --sidebar-accent: 0.97 0 0;
    --sidebar-accent-foreground: 0.65 0.14 245;
    --sidebar-border: 0.922 0 0;
    --sidebar-ring: 0.65 0.14 245
  }
  .dark {
    --background: 0.145 0 0;
    --foreground: 0.985 0 0;
    --card: 0.205 0 0;
    --card-foreground: 0.985 0 0;
    --popover: 0.205 0 0;
    --popover-foreground: 0.985 0 0;
    --primary: 0.65 0.14 245;
    --primary-foreground: 0.985 0 0;
    --secondary: 0.269 0 0;
    --secondary-foreground: 0.985 0 0;
    --muted: 0.269 0 0;
    --muted-foreground: 0.708 0 0;
    --accent: 0.269 0 0;
    --accent-foreground: 0.985 0 0;
    --destructive: 0.704 0.191 22.216;
    --border: 1 0 0;
    --input: 1 0 0;
    --ring: 0.65 0.14 245;
    --chart-1: 0.87 0 0;
    --chart-2: 0.556 0 0;
    --chart-3: 0.439 0 0;
    --chart-4: 0.371 0 0;
    --chart-5: 0.269 0 0;
    --sidebar: 0.205 0 0;
    --sidebar-foreground: 0.985 0 0;
    --sidebar-primary: 0.65 0.14 245;
    --sidebar-primary-foreground: 0.985 0 0;
    --sidebar-accent: 0.269 0 0;
    --sidebar-accent-foreground: 0.985 0 0;
    --sidebar-border: 1 0 0;
    --sidebar-ring: 0.65 0.14 245
  }
  * {
    @apply border-border;
    outline-color: color-mix(in oklch, var(--ring) 50%, transparent);
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}